# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Output files
jobs.csv

# Virtual Environment
.venv/
venv/
ENV/
.Python
pyvenv.cfg

# Python Environment
bin/
include/
lib/
lib64/
share/
pyvenv.cfg
pip-selfcheck.json 